/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

#topline {
	position:absolute;  
	top:1; 
	height: 14px; 
	width:100%; 
	/*background-image:url('/images/stripe.png');*/
  background-repeat:repeat-x;
	}

#homebadge { 
  position: absolute; 
  top: 120px; 
	left:0px; 
	background-color:#eaeaea;
	width:50px; 
	height:100px; 
	margin-top:10px;
	text-align:center;
  -moz-border-radius-topright:    1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
	cursor:pointer;
	background-image:url('/images/home.png');
  background-repeat:no-repeat;
}

.draft {
	color:darkred;
}


/* Global Reset */

img{
	padding:1.5em;
	border-style:none;
}

a>img{
	text-decoration:none;
}

a:link,a:visited{
	color: #3377ee;
	text-decoration:none;
	
}

a:hover {
	color: #3377ee;;
	text-decoration:none;
	border-bottom:.15em dotted;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1,h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  font-size:large;
  color:#50515c;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}


table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  min-width:54em;
  margin: 3em 5em 2em 5em;
  line-height: 1.5em;
	text-align:justify;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
 margin-left:6em;
}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }


/*
 *   not needed and conflicts with pygments and syntax higghlighter 
  #post code {
    border: 1px solid #ddd;
	  padding: 2em;
	  color: #979B96;
    background-color: #1B2426 !important;
    font-size: 95%;
    padding: 0 .2em;
  }

 * 
 * */
    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
