<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Bill Shelton" />
   
<link rel="alternate" type="application/rss+xml" title="pencil shavings feed" href="http://feeds.feedburner.com/billshelton" />

	
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shCore.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushColdFusion.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushXml.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushJava.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushJScript.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushRuby.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushPython.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushPlain.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushScala.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushGroovy.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushErlang.js'></script>
<script language='javascript' src='{{ site.resources }}/resources/syntax_highlighter/scripts/shBrushBash.js'></script>
<script type="text/javascript">
	SyntaxHighlighter.config.clipboardSwf = '{{ site.resources }}/resources/syntax_highlighter/scripts/clipboard.swf';
	SyntaxHighlighter.all();
</script>

<link type="text/css" rel="stylesheet" href="{{site.resources}}/resources/syntax_highlighter/styles/shCore.css"/>
<link rel="stylesheet" href="{{ site.resources }}/resources/syntax_highlighter/styles/shThemeEclipse.css" type="text/css" />

	<script src="http://www.google.com/jsapi?key=ABQIAAAA4Jd5s-5f4Vh2n-JPA_RGVhTCh4NniAK5cG_okncbQ3Tmh-o_vhQl8bGsNm8ylWeYcXWLj_g8HnB9wg" type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
    //<![CDATA[
     google.load("jquery", "1");
     google.load("jqueryui", "1");
    //]]>
    </script>
	<!--
	<script src="/resources/jquery.min.js"></script>
    -->
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/resources/css/screen.css" type="text/css" media="screen, projection" />
   
   <!-- syntax highlighting CSS (used with Pygments) -->
   <link rel="stylesheet" href="/resources/css/syntax.css" type="text/css" />
   
   
   <script src="/resources/jgrowl/jquery.jgrowl_compressed.js"></script>
   <link rel="stylesheet" href="/resources/jgrowl/jquery.jgrowl.css" type="text/css" media="screen, projection" />

   
   <script src="/resources/tipsy/javascripts/jquery.tipsy.js"></script>
   <link rel="stylesheet" href="/resources/tipsy/stylesheets/tipsy.css" type="text/css" media="screen, projection" />
  
  <script type='text/javascript' src='/resources/colorbox/jquery.colorbox.js'></script>
  <link rel="stylesheet" href="/resources/colorbox/colorbox.css" type="text/css" media="screen, projection" />

  <style>
  	/* automatic thumbnail selector */
	.tn {
		width:300px;
		cursor:pointer;
	}
	
	.tn100 {
		width:120px;
		cursor:pointer;
	}
	.tn200 {
		width:240px;
		cursor:pointer;
	}
	
	.tn300 {
		width:320px;
		cursor:pointer;
	}
	
	
  </style>
  
   <script>
   	$().ready(function(){
	 
	 //really only need to do this once
	  //a=[{% for post in site.posts %}{'{{ post.title }}':'{{ post.url }}'},{% endfor %}];
	 
	 $('#homebadge').click(function(){
	 	location.href='/';
	 });
	 
	 //go home if user hits 'h'
	 $('*').keyup( function(e) {
	 	  if(e.which===72) location.href='/';
	 });
	 
	 $('#me,#homer').tipsy({fade:true,gravity:'s'});
      $('.tn100,.tn200,.tn300').colorbox( {
			title: function(){ return '<a href="' + $(this).attr('src') + '">View Original</a>' },
			href: function(){ return  $(this).attr('src')  },
			transition: 'elastic',
			maxHeight:840,
			maxWidth:1180
       });   
	   

	 $('#disclaimer').colorbox({
	 	html: $('#disc_data').html(),
		maxWidth: 540
	 }); 
	 
	 $('#jump').colorbox({
	 	html: $('#jumper').html(),
		maxWidth: 620
	 });   
	

   
	});
	
   </script>


</head>

<body>
<div id="topline" />	

<div class="site">
 
  {{ content }}
  
  <div class="footer">
  	<div id="disc_data" style="display:none;visibility:hidden;">
	<h4 style="color:#2d1c1c;">Disclaimer</h4>
	<div style="color:#4d4d4d;;font-size:1.25em;text-align:justify;">
	What's expressed here are my own opinions about various things technical and otherwise. It doesn't
	express the opinion of my employer or any organization with which I am involved.  I do exercise my 
	belief in the right to free speech and expression; as such, there might be language considered offensive
	to some, and juvenille to others. <br /><br />
	
	More importantly, as much as I try, what's written here likely has errors and, at times, may make little sense to anyone other than the author. 
	<br /><br />
	 Consuming, as well as producing, information is a moral activity.
	 Feedback, corrections, complaints, and suggestions, are always welcome. 
	<br /><br />
	-bs
	
    </div>
	</div>
  </div>

<div id="jumper" style="display:none;visibility:hidden;">
<img src="/images/jump.gif" /><br />
From one of my grade school books
</div>

<br /><br />

<a href="http://feeds.feedburner.com/billshelton"><img src="{{ site.images }}/rss.png" style="float:right;border-style:none;"></a>

<p style="font-size:12px;color:silver">
Built on <a href="http://github.com/mojombo/jekyll/">Jekyll</a> by <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a>.
</p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3137017-6");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
