<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Bill Shelton" />
   
<link type="text/css" rel="stylesheet" href="http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/styles/shThemeDefault.css"/>

	
<script language='javascript' src='http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/shCore.js'></script>
<script language='javascript' src='http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/shBrushColdFusion.js'></script>
<script language='javascript' src='http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/shBrushXML.js'></script>
<script language='javascript' src='http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/shBrushJava.js'></script>
<script language='javascript' src='http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/shBrushJScript.js'></script>
<script language='javascript' src='http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/shBrushRuby.js'></script>
<script language='javascript' src='http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/shBrushPython.js'></script>

<script type="text/javascript">
	SyntaxHighlighter.config.clipboardSwf = 'http://mxunit.s3.amazonaws.com/resources/syntax_highlighter/scripts/clipboard.swf';
	SyntaxHighlighter.all();
</script>


	<script src="http://www.google.com/jsapi?key=ABQIAAAA4Jd5s-5f4Vh2n-JPA_RGVhTCh4NniAK5cG_okncbQ3Tmh-o_vhQl8bGsNm8ylWeYcXWLj_g8HnB9wg" type="text/javascript"></script>
    <script language="Javascript" type="text/javascript">
    //<![CDATA[
     google.load("jquery", "1");
     google.load("jqueryui", "1");
    //]]>
    </script>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/resources/css/screen.css" type="text/css" media="screen, projection" />
   
   <!-- syntax highlighting CSS (used with Pygments) -->
   <link rel="stylesheet" href="/resources/css/syntax.css" type="text/css" />
   
   <script src="/resources/tipsy/javascripts/jquery.tipsy.js"></script>
   <link rel="stylesheet" href="/resources/tipsy/stylesheets/tipsy.css" type="text/css" media="screen, projection" />
   <script>
   	$(document).ready(function(){
		$('#me').tipsy({fade:true,gravity:'s'});
	});
	
   </script>
</head>

<body>
	
<div style="float:left;height:100%;position:relative;" class="avatar">
  <img id="me" border="0" src="/images/billy_south_pk_avatar.png" title="Contact me through Github." style="float:left;cursor:hand;" onclick="location.href='http://github.com/virtix'"><br/>
  <a class="extra" href="/" style="color:gray;text-align:left;">home</a>
</div>

<div class="site">
 
  {{ content }}
  
  <div class="footer">

  </div>


<a href="http://feeds.feedburner.com/goodcoder"><img src="/images/rss.png" style="float:right;border-style:none;"></a>

<p style="font-size:12px;color:silver">
Built on <a href="http://github.com/mojombo/jekyll/">Jekyll</a> by <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a>.
</p>

</body>
</html>
